In [3]:
import numpy as np
import pandas as pd
fuel_data = pd.read_csv('fuel_data.csv')
fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [16]:
# Skewness and Kurtosis
fuel_qty_burned_skew=fuel_data.skew()["fuel_qty_burned"]
fuel_qty_burned_kurtosis = fuel_data.kurtosis()["fuel_qty_burned"]

print(f"fuel_qty_burned_skew: {fuel_qty_burned_skew}", f"fuel_qty_burned_kurtosis: {fuel_qty_burned_kurtosis}")

fuel_qty_burned_skew: 15.851495469109503 fuel_qty_burned_kurtosis: 651.3694501337732

In [15]:
# Standard deviation and 75th percentile of fuel_mmbtu_per_unit
description = fuel_data.describe()["fuel_mmbtu_per_unit"]
Standard_deviation = description["std"]
percentage_75 = description["75%"]

print(f"Standard_deviation: {Standard_deviation}", f"percentage_75: {percentage_75}")

Standard_deviation: 10.600220307806714 percentage_75: 17.006

In [24]:
# Fuel type code with the lowest average cost per unit burned
fuel_code=fuel_data.groupby('fuel_type_code_pudl')["fuel_cost_per_unit_burned"].mean()
mini = fuel_code.min()
print(fuel_code[fuel_code==fuel_code.min()])

fuel_type_code_pudl
gas    13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

In [25]:
# Year with the highest average fuel cost per unit delivered
delivered=fuel_data.groupby('report_year')["fuel_cost_per_unit_delivered"].mean()
delivered[delivered==delivered.max()]

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

In [33]:
# Feature with missing values, Total of missing values and percentage of missing rows as a factor of rows
fuel_data_nulls = fuel_data.isnull().any()
print(fuel_data_nulls)

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [35]:
nulls_total = fuel_data.isna().sum()
print(nulls_total)

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [37]:
lent_of_fuel_data = len(fuel_data)
fuel_unit_nulls=fuel_data_nulls["fuel_unit"]
percentage_missing_rows = (fuel_unit_nulls/lent_of_fuel_data) *100
percentage_missing_rows

0.003387189648748433

In [39]:
# Features that has second and third lowest correlation with the fuel cost per unit burned
fuel_data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000